body {
    display: flex;
    margin: 0px;
    overflow: hidden;
  }
  
  #toc {
    width: 100em;
    height: 100vh;
    overflow: auto;
    padding: 20px;
    border-right: 1px solid #ccc;
  }
  
  #content {
    flex-grow: 1;
    height: 100vh;
    padding: 20px;
    overflow: auto;
  }

  
  body {
    background-color: #EAF0F1;
  }
  #toc {
    background-color: #A3D2CA;
    color: #5EAAA8;
  }
  #content {
    background-color: #EAF0F1;
    color: #3E517A;
  }
  
  